.fixed-height {
    max-height: 80vh;
}

.wrap {
    word-wrap: break-word;
    max-height: 100%;
    overflow: auto;
}

.stretch {
    min-height: 40vh;
    min-width: 40vh;
}

.has-scroll {
    overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.has-background-red {
    background-color: #ba3a3a;
}